<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TasmotaHostname" value="delock-2759"/>
    <add key="CheckIntervalSeconds" value="4"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>